.custom_nav{
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}
.navbar-light{
    background-color: rgb(126, 220, 235) ;
}
.nav-link{
    color: white !important;
}
.navbar{
    background-color: rgb(17, 124, 143);
}
.custom_nav ul.dropdown-menu {
    font-size: small;
}
.btn-register , .btn-search{
    background-color: rgb(20, 110, 194);
    color: white;
}
.main-bannner{
    padding-top: 20px;
    padding-bottom: 80px ;
    background-image: url(https://s12102022.s3.amazonaws.com/web+background+asee.png);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
.main-bannner img{
    padding-left: 5px;
}
.feature_holder {
    text-align: center;
    margin-bottom: 25px;
}
section.features {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: rgb(231, 253, 255);
}
.feature_holder h3 {
    font-size: 20px;
}
.feature_holder p {
    font-size: 15px;
}
section.online_courses, .classroom-training , .reviews-slider{
    padding-top: 35px;
    padding-bottom: 35px;
}
.online-course-text-widget, .classroom-course-text-widget , .review-text-widget {
    text-align: center;
}
.online-course-text-widget h2, .classroom-course-text-widget h2 , .review-text-widget h2 {
    font-size: 20px;
}
.online-course-text-widget p, .classroom-course-text-widget p , .review-text-widget p {
    font-size: 15px;
}
.online-course-card , .review-text-widget {
    text-align: center;
    margin-bottom: 25px;
}
.online-course-card .card-title {
    font-size: 18px;
    line-height: 25px;
}
.card.online-course-card .card-text {
    font-size: 14px;
}
.card.online-course-card .abc li {
    background-color: rgb(17, 124, 143);
    color: white;
}
.card.online-course-card .activities a{
    background-color: #f3f0f0;
}
.card.online-course-card .activities .sem a{
    background-color: white;
}
.card.online-course-card .activities button{
    background-color: #f3f0f0;
}
.classroom-training {
    background-color: rgb(241 21 122 / 11%);
}
.sign-up-form-sidebar{
    background-color: rgb(123, 10, 138);
}
.sign-up-form-sidebar h4 {
    font-size: 20px;
}
.sign-up-form-sidebar p {
    font-size: 15px;
}
.btn-signup-register{
    background-color: rgb(241 21 122);
    color: white;
}
.head-training{
    background-color: rgb(123, 10, 138);
    color: white;
}
.course-list-item {
    font-size: small;
    padding: 15px;
}
section.reviews-slider {
    background: #e8e1e13d;
}
#review-slider-content li .card{
    text-align: center;
}
#review-slider-content li .card img{
    width: 50px;
    padding-bottom: 15px;
}
#review-slider-content li .card .card-title{
    font-size: 18px;
    font-weight: bold;
}
#review-slider-content li .card .star{
    color: orange;
    font-size: 14px;
}
#review-slider-content li .card .card-text{
    font-size: 14px;
}

/* Fotter */
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  
  
/* Instagram */
.fa-Instagram {
    background: #55ACEE;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
  }
footer.main-fotter {
    background-color: rgb(11 0 2 / 86%);
    padding-top: 35px;
    padding-bottom: 35px;
    color: white;
}
aside.fotter-widget h5 {
    font-size: 16px;
}
aside.fotter-widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
aside.fotter-widget ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #b5b0b0;
    display: inline-block;
    margin-bottom: 0px;
}
address h2 {
    font-size: 20px;
}
address p {
    font-size: 14px;
}
.copy{
    background-color: crimson;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 14px;
}
.copy p{
    margin: 0px;
}


/* Stay Tuned Section */
.stay-tuned{
    padding-top: 100px;
    padding-bottom: 100px ;
    background-image: url(https://s12102022.s3.amazonaws.com/istockphoto-505531266-612x612.jpg);
    color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-size:cover; 
}
.stay-tuned b{
    color: #000aff;
}


